# Balance

In [28]:
from utilities.std_imports import *
import sklearn.utils as su

### Load data

In [29]:
df = pd.read_csv('D:/data/csv/balance-scale.csv')
df.columns=['target', 'var1', 'var2', 'var3', 'var4']
print(df.shape)
df.head()

(625, 5)

  target  var1  var2  var3  var4
0      B     1     1     1     1
1      R     1     1     1     2
2      R     1     1     1     3
3      R     1     1     1     4
4      R     1     1     1     5

In [30]:
df['target'].value_counts()

R    288
L    288
B     49
Name: target, dtype: int64

In [31]:
df['target'] = np.where(df['target'].str.contains('B'), 1, 0)
df.head()

   target  var1  var2  var3  var4
0       1     1     1     1     1
1       0     1     1     1     2
2       0     1     1     1     3
3       0     1     1     1     4
4       0     1     1     1     5

In [32]:
df['target'].value_counts()

0    576
1     49
Name: target, dtype: int64

In [36]:
nresamp = df.shape[0] - df[df['target']==1].shape[0]
df_maj = df[df['target']==0]
df_min = df[df['target']==1]

df_min_rs = su.resample(df_min, replace=True, n_samples=nresamp, random_state=123)

df_rs = pd.concat([df_maj, df_min_rs])
df_rs['target'].value_counts()

1    576
0    576
Name: target, dtype: int64

### Credits & Links

https://elitedatascience.com/imbalanced-classes