# Binning: numeric to categorical

In [55]:
from utilities.std_imports import *
from ds_topics.utils.feature_engineering import *

### Testing

In [56]:
df = pd.DataFrame(np.random.randint(low=1, high=9, size=(100, 1)),columns = ['age'])

In [57]:
df1 = bin_num2cat(df=df, column='Age', bins=[0,3,6,9])
df1.head()

   age   range
0    8  (6, 9]
1    4  (3, 6]
2    1  (0, 3]
3    1  (0, 3]
4    3  (0, 3]

In [58]:
df2 = bin_num2cat(df=df, column='Age', bins=[0,3,6,9], letters=True)
df2.head()

   age range
0    8     C
1    4     B
2    1     A
3    1     A
4    3     A

### Credits & Links