In [17]:
from utilities.std_imports import *
from pandasql import sqldf, load_meat, load_births

In [18]:
pysqldf = lambda q: sqldf(q, globals())

In [24]:
df = pd.read_csv('D:/data/csv/iris.csv')

In [25]:
pysqldf("SELECT * FROM df LIMIT 10;").head()

   sepal_long  sepal_width  petal_long  petal_width      species
0         5.1          3.5         1.4          0.2  Iris-setosa
1         4.9          3.0         1.4          0.2  Iris-setosa
2         4.7          3.2         1.3          0.2  Iris-setosa
3         4.6          3.1         1.5          0.2  Iris-setosa
4         5.0          3.6         1.4          0.2  Iris-setosa

In [26]:
df.groupby(by=['species'])['sepal_long'].sum()

species
Iris-setosa        250.3
Iris-versicolor    296.8
Iris-virginica     329.4
Name: sepal_long, dtype: float64