# Binning: numeric to categorical

In [47]:
import sys
sys.path.append('D:/source/repos')
from utilities.std_imports import *

### Binning

In [49]:
def bin_num2cat(df, column, bins, letters=False):
    labels=None
    if letters: 
        letters = list('ABCDEFGHIJKLMNOPQRSTUVWXYZ')
        labels = letters[0:len(bins)-1]
    cats = pd.cut(x=df.age, bins=bins, labels=labels) 
    cats = cats.to_frame() 
    cats.columns = ['range'] 
    df = pd.concat([df,cats], axis=1) 
    return df

### Testing

In [51]:
df = pd.DataFrame(np.random.randint(low=1, high=9, size=(100, 1)),columns = ['age'])

In [53]:
df1 = bin_num2cat(df=df, column='Age', bins=[0,3,6,9])
df1.head()

   age range   range
0    1     A  (0, 3]
1    7     C  (6, 9]
2    2     A  (0, 3]
3    4     B  (3, 6]
4    7     C  (6, 9]

In [54]:
df2 = bin_num2cat(df=df, column='Age', bins=[0,3,6,9], letters=True)
df2.head()

   age range range
0    1     A     A
1    7     C     C
2    2     A     A
3    4     B     B
4    7     C     C

### Credits & Links