# Correlation Analysis

In [ ]:
import numpy as np
import pandas as pd
from scipy.stats.stats import pearsonr   
from scipy.stats.stats import spearmanr   
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

## Correlation

In [21]:
import pandas as pd
from scipy.stats.stats import pearsonr   
from scipy.stats.stats import spearmanr   


a = [1,4,6]
b = [1,2,3]   

pear = pearsonr(a,b)
spea = spearmanr(a,b)

df = pd.DataFrame({'R': ['{0:.2f}'.format(pear[0]), '{0:.2f}'.format(spea[0])], 
                  'R2': ['{0:.2f}'.format(pear[0]**2), '{0:.2f}'.format(spea[0]**2)], 
                  'p' : ['{0:.2f}'.format(pear[1]), '{0:.2f}'.format(spea[1])]})

df.style.hide_index()

## Multicollinearity

In [24]:
import pandas as pd
import numpy as np
from patsy import dmatrices
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

#### Load data

In [41]:
df = pd.read_csv('D:/data/csv/loanTrain.csv')
df= df.dropna()
df = df._get_numeric_data() 
df.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
1,4583,1508.0,128.0,360.0,1.0
2,3000,0.0,66.0,360.0,1.0
3,2583,2358.0,120.0,360.0,1.0
4,6000,0.0,141.0,360.0,1.0
5,5417,4196.0,267.0,360.0,1.0

#### Calculate VIF and show results

In [42]:
vif = [variance_inflation_factor(df.values, i) for i in range(df.shape[1])]

vifDf = pd.DataFrame()
vifDf["Feature"] = df.columns
vifDf["VIF Factor"] = vif
vifDf.round(2).style.hide_index()

## Credits & Links

https://etav.github.io/python/vif_factor_python.html