# Naive Bayes

In [1]:
from pyspark.ml.classification import NaiveBayes
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark import SparkContext, SparkConf
from pyspark.sql import SQLContext
from pyspark.ml import Pipeline

In [2]:
spark = SparkContext("local", "sqlContext")
sql = SQLContext(spark)

In [3]:
path = 'D:/ProgramFiles/Spark/spark-3.0.0-bin-hadoop2.7/data/mllib/'

#### Load data

In [4]:
df = sql.read.format("libsvm").load(path + "sample_libsvm_data.txt")
df.toPandas()

    label                                           features
0     0.0  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
1     1.0  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
2     1.0  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
3     1.0  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
4     1.0  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
..    ...                                                ...
95    0.0  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
96    0.0  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
97    0.0  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
98    1.0  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
99    1.0  (0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...

[100 rows x 2 columns]

#### Split the data into train and test

In [6]:
splits = df.randomSplit([0.6, 0.4], 1234)
train = splits[0]
test = splits[1]

#### Build the model

In [7]:
nb = NaiveBayes(smoothing=1.0, modelType="multinomial")
model = nb.fit(train)

#### Test

In [9]:
pred = model.transform(test)
pred.show()

+-----+--------------------+--------------------+-----------+----------+
|label|            features|       rawPrediction|probability|prediction|
+-----+--------------------+--------------------+-----------+----------+
|  0.0|(692,[95,96,97,12...|[-172664.79564650...|  [1.0,0.0]|       0.0|
|  0.0|(692,[98,99,100,1...|[-176279.15054306...|  [1.0,0.0]|       0.0|
|  0.0|(692,[122,123,124...|[-189600.55409526...|  [1.0,0.0]|       0.0|
|  0.0|(692,[124,125,126...|[-274673.88337431...|  [1.0,0.0]|       0.0|
|  0.0|(692,[124,125,126...|[-183393.03869049...|  [1.0,0.0]|       0.0|
|  0.0|(692,[125,126,127...|[-256992.48807619...|  [1.0,0.0]|       0.0|
|  0.0|(692,[126,127,128...|[-210411.53649773...|  [1.0,0.0]|       0.0|
|  0.0|(692,[127,128,129...|[-170627.63616681...|  [1.0,0.0]|       0.0|
|  0.0|(692,[127,128,129...|[-212157.96750469...|  [1.0,0.0]|       0.0|
|  0.0|(692,[127,128,129...|[-183253.80108550...|  [1.0,0.0]|       0.0|
|  0.0|(692,[128,129,130...|[-246528.93739632...|  [1.0,0.0]|       0.0|
|  0.0|(692,[150,151,152...|[-158348.34683571...|  [1.0,0.0]|       0.0|
|  0.0|(692,[152,153,154...|[-210229.50765957...|  [1.0,0.0]|       0.0|
|  0.0|(692,[152,153,154...|[-242985.16248889...|  [1.0,0.0]|       0.0|
|  0.0|(692,[152,153,154...|[-94622.933454005...|  [1.0,0.0]|       0.0|
|  0.0|(692,[153,154,155...|[-266465.39689814...|  [1.0,0.0]|       0.0|
|  0.0|(692,[153,154,155...|[-144989.71469229...|  [1.0,0.0]|       0.0|
|  0.0|(692,[154,155,156...|[-283834.57437738...|  [1.0,0.0]|       0.0|
|  0.0|(692,[181,182,183...|[-155256.59399829...|  [1.0,0.0]|       0.0|
|  1.0|(692,[100,101,102...|[-147726.11958982...|  [0.0,1.0]|       1.0|
+-----+--------------------+--------------------+-----------+----------+
only showing top 20 rows

#### Validate

In [11]:
eval = MulticlassClassificationEvaluator(labelCol="label", predictionCol="prediction", metricName="accuracy")
acc = eval.evaluate(pred)
print("Test set accuracy = " + str(acc))

Test set accuracy = 1.0

In [12]:
spark.stop()

## Credits & Links

http://spark.apache.org/docs/2.2.0/ml-classification-regression.html