# Sampling

In [16]:
from utilities.std_imports import *
import random as rnd
from sklearn.model_selection import train_test_split
from sklearn.datasets import make_classification

In [4]:
df = pd.read_csv('D:/data/csv/balance-scale.csv')
df.head()

  target  A  B  C  D
0      B  1  1  1  1
1      R  1  1  1  2
2      R  1  1  1  3
3      R  1  1  1  4
4      R  1  1  1  5

## Simple sampling

In [6]:
sample = df.sample(6)
sample

    target  A  B  C  D
616      L  5  5  4  2
516      R  5  1  4  2
535      L  5  2  3  1
61       R  1  3  3  2
95       R  1  4  5  1
571      L  5  3  5  2

## Stratified sampling

In [12]:
y = df['target']
df.drop('target', axis =1)
X = df
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, test_size=0.25)
X_test

    target  A  B  C  D
19       R  1  1  4  5
588      L  5  4  3  4
514      R  5  1  3  5
523      R  5  1  5  4
529      L  5  2  1  5
..     ... .. .. .. ..
418      R  4  2  4  4
443      R  4  3  4  4
157      R  2  2  2  3
442      B  4  3  4  3
107      R  1  5  2  3

[157 rows x 5 columns]

## Reservoir sampling

In [15]:
def generator(max):
    number = 1
    while number < max:
        number += 1
        yield number
        
stream = generator(10000)

k=5
reservoir = []
for i, element in enumerate(stream):
    if i+1<= k:
        reservoir.append(element)
    else:
        prob = k/(i+1)
        if rnd.random() < prob:
            # Select item in stream and remove one of the k items already selected
             reservoir[random.choice(range(0,k))] = element

reservoir

[8204, 9891, 453, 5944, 9902]

## Under/Over sampling

In [18]:
X, y = make_classification(n_classes=2, class_sep=1.5, weights=[0.9, 0.1], n_informative=3, n_redundant=1, flip_y=0, n_features=20, n_clusters_per_class=1, n_samples=100, random_state=10)
X = pd.DataFrame(X)
X['target'] = y

In [19]:
num_0 = len(X[X['target']==0])
num_1 = len(X[X['target']==1])
print(num_0,num_1)

# random undersample
us = pd.concat([ X[X['target']==0].sample(num_1) , X[X['target']==1] ])
print(len(us))

# random oversample
os = pd.concat([ X[X['target']==0] , X[X['target']==1].sample(num_0, replace=True) ])
print(len(os))

90 10
20
180

## Credits & Links

https://towardsdatascience.com/the-5-sampling-algorithms-every-data-scientist-need-to-know-43c7bc11d17c